body {
    background-color: rgb(19, 9, 75);
}

.centerForm {
    position: relative;
    top: 16rem;
    margin: auto;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
}

.form-group {
    background-color: rgba(95, 94, 94, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.btn {
    width: 40%;
}

@media only screen and (max-width: 500px) {
    .centerForm {
        width: 90%;
        padding: 20px;
    }
}