.app {
    background-image: url("images/backgroundMain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}

.main {
    text-align: center;
    position: relative;
    top: 43%;
    color: white;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    height: auto;
}