.app {
    background-image: url("images/backgroundMain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 140vh;
}

.main {
    text-align: center;
    position: relative;
    top: 43%;
    color: white;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    width: 600px;
    height: 300px;
}

.messageDisplay {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
}

.messageForm {
    width: 100%;
    border: 2px solid black;
}

.input1 {
    position: absolute;
    top: 180%;
    left: 0;
}

.input1 input {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.leave {
    color: rgb(255, 86, 56)
}